.headArae{
  background: #5bc0de;
}
.panelLogin{
  margin-top: 10px;
  margin-bottom: 10px !important;
  background-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
}
.panel-body{
  padding: 0px !important;
}
.form-group{
  margin-bottom: 0px !important;
}