.container-fluid{
  margin-top: 1rem;
}
.dropdown_kiri{
  left: -3rem !important;
  padding: 0rem 0 !important;
  margin: 0.5rem 0 0 !important;
}
.dropdown_kanan{
  left: -5rem !important;
  padding: 0rem 0 !important;
  margin: 0.5rem 0 0 !important;
}

.table td {
  font-size: 0.8rem !important;
}